In [7]:
import pandas as pd
# 设置自定义列表输出最多为10行
pd.options.display.max_rows = 10 
# 显示当前的pandas的版本号
pd.__version__

'0.25.0'

In [17]:
df = pd.DataFrame(
    {
        'var1':1.0,
        'var2':[1,2,3,4],
        'var3':["a","b","c","d"],
        'var4':"cons"
    }
)

df

   var1  var2 var3  var4
0   1.0     1    a  cons
1   1.0     2    b  cons
2   1.0     3    c  cons
3   1.0     4    d  cons

In [30]:
df1 = pd.DataFrame
(
    [
        [1,"test"],
        [2,"train"],
        [3,"test"],
        [4,"train"]
    ],
    columns = {'var2','var3'}
)

SyntaxError: invalid syntax (<ipython-input-30-9edb66c6fad6>, line 9)

In [32]:
df2 = pd.read_csv("高校信息.csv",encoding="gbk")
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [36]:
df3 = pd.read_table("高校信息.csv",sep=',',encoding='gbk')
df3

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [41]:
df4 = pd.read_excel('高校信息.xlsx',sheet_name=1)
df4

    名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0    1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1    2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2    3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3    4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4    5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ..     ...     ...  ..  ...  ...      ...  ...
45  46  南京农业大学   65.90  农林   江苏  南京市  行业特色研究型  教育部
46  47    西北大学   65.88  综合   陕西  西安市    区域研究型  陕西省
47  48  华东理工大学   65.79  理工   上海  上海市  行业特色研究型  教育部
48  49  华中农业大学   65.77  农林   湖北  武汉市  行业特色研究型  教育部
49  50  南京师范大学   65.71  师范   江苏  南京市  区域特色研究型  江苏省

[50 rows x 8 columns]

In [56]:
df5 = pd.read_csv('PM25/Beijing_2008_HourlyPM2.5_created20140325.csv',skiprows = range(1,3),encoding='windows 1252')
df5

                                                                             A fact sheet with definitions and metadata for this dataset can be found at http://www.stateair.net/web/historical/1/1.html.
Site    Parameter Date (LST)       Year Month Day Hour Value Unit   Duration                                            QC Name
Beijing PM2.5     2008-04-08 15:00 2008 4     8   15   207   µg/mg³ 1 Hr                                                  Valid
                  2008-04-08 16:00 2008 4     8   16   180   µg/mg³ 1 Hr                                                  Valid
                  2008-04-08 17:00 2008 4     8   17   152   µg/mg³ 1 Hr                                                  Valid
                  2008-04-08 18:00 2008 4     8   18   162   µg/mg³ 1 Hr                                                  Valid
...                                                                                                                         ...
                  2008-11-06 09:00 2008 11    6   9    42    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 10:00 2008 11    6   10   46    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 11:00 2008 11    6   11   40    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 12:00 2008 11    6   12   35    µg/mg³ 1 Hr                                                  Valid
                  2008-11-06 13:00 2008 11    6   13   19    µg/mg³ 1 Hr                                                  Valid

[5088 rows x 1 columns]

In [57]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [58]:
print(df2)

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [59]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [60]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
名次      100 non-null int64
学校名称    100 non-null object
总分      100 non-null float64
类型      100 non-null object
所在省份    100 non-null object
所在城市    100 non-null object
办学方向    100 non-null object
主管部门    100 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.4+ KB

In [61]:
df2.head()

   名次  学校名称      总分  类型 所在省份 所在城市   办学方向 主管部门
0   1  北京大学  100.00  综合   北京  北京市  中国研究型  教育部
1   2  清华大学   98.50  理工   北京  北京市  中国研究型  教育部
2   3  复旦大学   82.79  综合   上海  上海市  中国研究型  教育部
3   4  武汉大学   82.43  综合   湖北  武汉市  中国研究型  教育部
4   5  浙江大学   82.38  综合   浙江  杭州市  中国研究型  教育部

In [62]:
df2.tail()

     名次    学校名称     总分  类型 所在省份 所在城市     办学方向 主管部门
95   96  浙江师范大学  63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学  63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学  63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学  63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学  63.29  综合   山西  太原市    区域研究型  山西省

In [63]:
df2.colunms

AttributeError: 'DataFrame' object has no attribute 'colunms'

In [64]:
df2.columns

Index(['名次', '学校名称', '总分', '类型', '所在省份', '所在城市', '办学方向', '主管部门'], dtype='object')

In [65]:
df2.columns = ['名次2','学校名称', '总分', '类型', '所在省份', '所在城市', '办学方向', '主管部门']

In [66]:
df2

    名次2    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [70]:
df3 = df2.rename(columns = {'学校名称':'学校名称2'},inplace = False)
df3

    名次2   学校名称2      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [74]:
df2

    名次2    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [75]:
df2.学校名称

0       北京大学
1       清华大学
2       复旦大学
3       武汉大学
4       浙江大学
       ...
95    浙江师范大学
96      安徽大学
97    首都医科大学
98      江南大学
99      山西大学
Name: 学校名称, Length: 100, dtype: object

In [76]:
df2["名次2"]

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: 名次2, Length: 100, dtype: int64

In [78]:
df2[["名次2","学校名称","总分"]]

    名次2    学校名称      总分
0     1    北京大学  100.00
1     2    清华大学   98.50
2     3    复旦大学   82.79
3     4    武汉大学   82.43
4     5    浙江大学   82.38
..  ...     ...     ...
95   96  浙江师范大学   63.37
96   97    安徽大学   63.34
97   98  首都医科大学   63.32
98   99    江南大学   63.31
99  100    山西大学   63.29

[100 rows x 3 columns]

In [82]:
df2.drop(columns = ["名次2"])

      学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..     ...     ...  ..  ...  ...      ...  ...
95  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [80]:
df2

    名次2    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [83]:
df2.dtypes

名次2       int64
学校名称     object
总分      float64
类型       object
所在省份     object
所在城市     object
办学方向     object
主管部门     object
dtype: object

In [84]:
df.astype(
    'str'
)

  var1 var2 var3  var4
0  1.0    1    a  cons
1  1.0    2    b  cons
2  1.0    3    c  cons
3  1.0    4    d  cons

In [85]:
df2.astype('str')

    名次2    学校名称     总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.0  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.5  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学  82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学  82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学  82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...    ...  ..  ...  ...      ...  ...
95   96  浙江师范大学  63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学  63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学  63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学  63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学  63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [86]:
df2.astype('str').dtypes

名次2     object
学校名称    object
总分      object
类型      object
所在省份    object
所在城市    object
办学方向    object
主管部门    object
dtype: object

In [87]:
df2["名次2"].astype('str')

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: 名次2, Length: 100, dtype: object

In [88]:
df2["名次2"]

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: 名次2, Length: 100, dtype: int64

In [90]:
df2[["名次2","总分"]].astype('str').apply.to_numeric

AttributeError: 'function' object has no attribute 'to_numeric'

In [91]:
df2[["名次2","总分"]].astype('str').apply(pd.to_numeric)

    名次2      总分
0     1  100.00
1     2   98.50
2     3   82.79
3     4   82.43
4     5   82.38
..  ...     ...
95   96   63.37
96   97   63.34
97   98   63.32
98   99   63.31
99  100   63.29

[100 rows x 2 columns]

In [93]:
df1 = pd.DataFrame(
    {
        'var1':1.0,
        'var2':[1,2,3,4],
        'var3':["test","train","test","train"],
        'var4':'cons'
    },
    index = [0,1,2,5],
)

df1

   var1  var2   var3  var4
0   1.0     1   test  cons
1   1.0     2  train  cons
2   1.0     3   test  cons
5   1.0     4  train  cons

In [96]:
df2 = pd.read_csv("高校信息.csv",encoding='gbk',index_col='学校名称')
df2

         名次      总分  类型 所在省份 所在城市     办学方向 主管部门
学校名称
北京大学      1  100.00  综合   北京  北京市    中国研究型  教育部
清华大学      2   98.50  理工   北京  北京市    中国研究型  教育部
复旦大学      3   82.79  综合   上海  上海市    中国研究型  教育部
武汉大学      4   82.43  综合   湖北  武汉市    中国研究型  教育部
浙江大学      5   82.38  综合   浙江  杭州市    中国研究型  教育部
...     ...     ...  ..  ...  ...      ...  ...
浙江师范大学   96   63.37  师范   浙江  金华市  区域特色研究型  浙江省
安徽大学     97   63.34  综合   安徽  合肥市    区域研究型  安徽省
首都医科大学   98   63.32  医药   北京  北京市  区域特色研究型  北京市
江南大学     99   63.31  综合   江苏  无锡市  区域特色研究型  教育部
山西大学    100   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [98]:
df2 = pd.read_csv("高校信息.csv",encoding='gbk',index_col=["类型","学校名称"])
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [99]:
df2 = pd.read_csv("高校信息.csv",encoding='gbk')
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [100]:
df_new = df2.set_index("名次")
df_new

       学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
名次
1      北京大学  100.00  综合   北京  北京市    中国研究型  教育部
2      清华大学   98.50  理工   北京  北京市    中国研究型  教育部
3      复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
4      武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
5      浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..      ...     ...  ..  ...  ...      ...  ...
96   浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
97     安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
98   首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
99     江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [101]:
df_new = df2.set_index("名次",append=True,drop = False)
df_new

         名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
   名次
0  1      1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1  2      2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2  3      3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3  4      4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4  5      5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
...     ...     ...     ...  ..  ...  ...      ...  ...
95 96    96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96 97    97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97 98    98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98 99    99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99 100  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [102]:
df_new2 = df2.copy()
df_new2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [108]:
df_new2

          名次    学校名称      总分  类型 所在城市     办学方向 主管部门
   所在省份
0  北京      1    北京大学  100.00  综合  北京市    中国研究型  教育部
1  北京      2    清华大学   98.50  理工  北京市    中国研究型  教育部
2  上海      3    复旦大学   82.79  综合  上海市    中国研究型  教育部
3  湖北      4    武汉大学   82.43  综合  武汉市    中国研究型  教育部
4  浙江      5    浙江大学   82.38  综合  杭州市    中国研究型  教育部
...      ...     ...     ...  ..  ...      ...  ...
95 浙江     96  浙江师范大学   63.37  师范  金华市  区域特色研究型  浙江省
96 安徽     97    安徽大学   63.34  综合  合肥市    区域研究型  安徽省
97 北京     98  首都医科大学   63.32  医药  北京市  区域特色研究型  北京市
98 江苏     99    江南大学   63.31  综合  无锡市  区域特色研究型  教育部
99 山西    100    山西大学   63.29  综合  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [111]:
df_new2.reset_index(inplace=True)
df_new2

    index  level_0 所在省份   名次    学校名称      总分  类型 所在城市     办学方向 主管部门
0       0        0   北京    1    北京大学  100.00  综合  北京市    中国研究型  教育部
1       1        1   北京    2    清华大学   98.50  理工  北京市    中国研究型  教育部
2       2        2   上海    3    复旦大学   82.79  综合  上海市    中国研究型  教育部
3       3        3   湖北    4    武汉大学   82.43  综合  武汉市    中国研究型  教育部
4       4        4   浙江    5    浙江大学   82.38  综合  杭州市    中国研究型  教育部
..    ...      ...  ...  ...     ...     ...  ..  ...      ...  ...
95     95       95   浙江   96  浙江师范大学   63.37  师范  金华市  区域特色研究型  浙江省
96     96       96   安徽   97    安徽大学   63.34  综合  合肥市    区域研究型  安徽省
97     97       97   北京   98  首都医科大学   63.32  医药  北京市  区域特色研究型  北京市
98     98       98   江苏   99    江南大学   63.31  综合  无锡市  区域特色研究型  教育部
99     99       99   山西  100    山西大学   63.29  综合  太原市    区域研究型  山西省

[100 rows x 10 columns]

In [112]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [113]:
df_new2.set_index(["类型","所在省份"],inplace=True)
df_new2

         index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
类型 所在省份
综合 北京        0        0    1    北京大学  100.00  北京市    中国研究型  教育部
理工 北京        1        1    2    清华大学   98.50  北京市    中国研究型  教育部
综合 上海        2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
   湖北        3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
   浙江        4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
...        ...      ...  ...     ...     ...  ...      ...  ...
师范 浙江       95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
综合 安徽       96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
医药 北京       97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
综合 江苏       98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
   山西       99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [116]:
df_new2.reset_index(level=["类型"],inplace=True)
df_new2

      类型  index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
所在省份
北京    综合      0        0    1    北京大学  100.00  北京市    中国研究型  教育部
北京    理工      1        1    2    清华大学   98.50  北京市    中国研究型  教育部
上海    综合      2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
湖北    综合      3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
浙江    综合      4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
...   ..    ...      ...  ...     ...     ...  ...      ...  ...
浙江    师范     95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
安徽    综合     96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
北京    医药     97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
江苏    综合     98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
山西    综合     99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 9 columns]

In [117]:
df2.index

RangeIndex(start=0, stop=100, step=1)

In [118]:
df2.index[0]

0

In [119]:
df1.index

Int64Index([0, 1, 2, 5], dtype='int64')

In [120]:
df_new2.index

Index(['北京', '北京', '上海', '湖北', '浙江', '北京', '上海', '江苏', '湖南', '广东', '吉林', '安徽',
       '湖北', '四川', '北京', '天津', '陕西', '湖南', '上海', '天津', '黑龙江', '山东', '福建', '江苏',
       '北京', '辽宁', '重庆', '上海', '辽宁', '北京', '广东', '北京', '湖南', '湖北', '陕西', '甘肃',
       '四川', '湖北', '湖北', '吉林', '北京', '北京', '陕西', '江苏', '北京', '江苏', '陕西', '上海',
       '湖北', '江苏', '四川', '重庆', '山东', '江苏', '河南', '江苏', '黑龙江', '广东', '云南', '北京',
       '江苏', '河南', '江苏', '上海', '陕西', '北京', '安徽', '北京', '陕西', '重庆', '上海', '湖南',
       '陕西', '广东', '上海', '湖北', '四川', '北京', '上海', '江西', '江苏', '北京', '北京', '福建',
       '广西', '陕西', '广东', '北京', '北京', '北京', '河北', '北京', '北京', '浙江', '广东', '浙江',
       '安徽', '北京', '江苏', '山西'],
      dtype='object', name='所在省份')

In [121]:
df2.index.names

FrozenList([None])

In [124]:
df_new2.index.names

FrozenList(['所在省份'])

In [125]:
df2.index.names = ['idx']
df2.index.names

FrozenList(['idx'])

In [126]:
df2

      名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
idx
0      1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1      2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2      3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3      4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4      5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..   ...     ...     ...  ..  ...  ...      ...  ...
95    96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96    97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97    98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98    99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99   100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [127]:
df_new2.index.names = [None]

In [128]:
df_new2

    类型  index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
北京  综合      0        0    1    北京大学  100.00  北京市    中国研究型  教育部
北京  理工      1        1    2    清华大学   98.50  北京市    中国研究型  教育部
上海  综合      2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
湖北  综合      3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
浙江  综合      4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
..  ..    ...      ...  ...     ...     ...  ...      ...  ...
浙江  师范     95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
安徽  综合     96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
北京  医药     97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
江苏  综合     98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
山西  综合     99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 9 columns]

In [129]:
df_new2.index.names = ["所在省份"]

In [130]:
df_new2

      类型  index  level_0   名次    学校名称      总分 所在城市     办学方向 主管部门
所在省份
北京    综合      0        0    1    北京大学  100.00  北京市    中国研究型  教育部
北京    理工      1        1    2    清华大学   98.50  北京市    中国研究型  教育部
上海    综合      2        2    3    复旦大学   82.79  上海市    中国研究型  教育部
湖北    综合      3        3    4    武汉大学   82.43  武汉市    中国研究型  教育部
浙江    综合      4        4    5    浙江大学   82.38  杭州市    中国研究型  教育部
...   ..    ...      ...  ...     ...     ...  ...      ...  ...
浙江    师范     95       95   96  浙江师范大学   63.37  金华市  区域特色研究型  浙江省
安徽    综合     96       96   97    安徽大学   63.34  合肥市    区域研究型  安徽省
北京    医药     97       97   98  首都医科大学   63.32  北京市  区域特色研究型  北京市
江苏    综合     98       98   99    江南大学   63.31  无锡市  区域特色研究型  教育部
山西    综合     99       99  100    山西大学   63.29  太原市    区域研究型  山西省

[100 rows x 9 columns]

In [132]:
df1.index = ['a','b','c',5]

In [134]:
df1

   var1  var2   var3  var4
a   1.0     1   test  cons
b   1.0     2  train  cons
c   1.0     3   test  cons
5   1.0     4  train  cons

In [137]:
df1.index = range(1,5)

In [138]:
df1

   var1  var2   var3  var4
1   1.0     1   test  cons
2   1.0     2  train  cons
3   1.0     3   test  cons
4   1.0     4  train  cons

In [139]:
df2.set_index("名次")

       学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
名次
1      北京大学  100.00  综合   北京  北京市    中国研究型  教育部
2      清华大学   98.50  理工   北京  北京市    中国研究型  教育部
3      复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
4      武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
5      浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..      ...     ...  ..  ...  ...      ...  ...
96   浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
97     安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
98   首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
99     江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [140]:
df2.reindex()

      名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
idx
0      1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1      2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2      3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3      4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4      5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..   ...     ...     ...  ..  ...  ...      ...  ...
95    96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96    97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97    98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98    99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99   100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [141]:
df2.index

RangeIndex(start=0, stop=100, step=1, name='idx')

In [142]:
df2.index.names = [None]

In [143]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [144]:
df2.reindex([1,2,99,101])

        名次  学校名称     总分   类型 所在省份 所在城市   办学方向 主管部门
1      2.0  清华大学  98.50   理工   北京  北京市  中国研究型  教育部
2      3.0  复旦大学  82.79   综合   上海  上海市  中国研究型  教育部
99   100.0  山西大学  63.29   综合   山西  太原市  区域研究型  山西省
101    NaN   NaN    NaN  NaN  NaN  NaN    NaN  NaN

In [145]:
df2.reindex([1,2,99,101],method = 'ffill')

      名次  学校名称     总分  类型 所在省份 所在城市   办学方向 主管部门
1      2  清华大学  98.50  理工   北京  北京市  中国研究型  教育部
2      3  复旦大学  82.79  综合   上海  上海市  中国研究型  教育部
99   100  山西大学  63.29  综合   山西  太原市  区域研究型  山西省
101  100  山西大学  63.29  综合   山西  太原市  区域研究型  山西省

In [146]:
df2.reindex([1,2,99,101],fill_value = "不知道")

      名次  学校名称     总分   类型 所在省份 所在城市   办学方向 主管部门
1      2  清华大学   98.5   理工   北京  北京市  中国研究型  教育部
2      3  复旦大学  82.79   综合   上海  上海市  中国研究型  教育部
99   100  山西大学  63.29   综合   山西  太原市  区域研究型  山西省
101  不知道   不知道    不知道  不知道  不知道  不知道    不知道  不知道

In [147]:
df2.reindex([1,2,99,101],fill_value = "不知道").dtypes

名次      object
学校名称    object
总分      object
类型      object
所在省份    object
所在城市    object
办学方向    object
主管部门    object
dtype: object

In [3]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name = 0).set_index(["类型","学校名称"])
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [4]:
df2.sort_index()

             名次     总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
农林 中国农业大学    32  68.05   北京  北京市  行业特色研究型  教育部
   北京林业大学    88  63.79   北京  北京市  行业特色研究型  教育部
   华中农业大学    49  65.77   湖北  武汉市  行业特色研究型  教育部
   华南农业大学    95  63.64   广东  广州市  区域特色研究型  广东省
   南京农业大学    46  65.90   江苏  南京市  行业特色研究型  教育部
...          ..    ...  ...  ...      ...  ...
财经 上海财经大学    64  64.96   上海  上海市  行业特色研究型  教育部
   中南财经政法大学  76  64.32   湖北  武汉市  行业特色研究型  教育部
   中央财经大学    82  63.99   北京  北京市  区域特色研究型  教育部
   对外经济贸易大学  90  63.77   北京  北京市  区域特色研究型  教育部
   西南财经大学    77  64.27   四川  成都市  区域特色研究型  教育部

[100 rows x 6 columns]

In [6]:
df2.sort_index()

             名次     总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
农林 中国农业大学    32  68.05   北京  北京市  行业特色研究型  教育部
   北京林业大学    88  63.79   北京  北京市  行业特色研究型  教育部
   华中农业大学    49  65.77   湖北  武汉市  行业特色研究型  教育部
   华南农业大学    95  63.64   广东  广州市  区域特色研究型  广东省
   南京农业大学    46  65.90   江苏  南京市  行业特色研究型  教育部
...          ..    ...  ...  ...      ...  ...
财经 上海财经大学    64  64.96   上海  上海市  行业特色研究型  教育部
   中南财经政法大学  76  64.32   湖北  武汉市  行业特色研究型  教育部
   中央财经大学    82  63.99   北京  北京市  区域特色研究型  教育部
   对外经济贸易大学  90  63.77   北京  北京市  区域特色研究型  教育部
   西南财经大学    77  64.27   四川  成都市  区域特色研究型  教育部

[100 rows x 6 columns]

In [7]:
df2.sort_index(ascending=[True,False])

             名次     总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
农林 西北农林科技大学  65  64.92   陕西  咸阳市  行业特色研究型  教育部
   南京农业大学    46  65.90   江苏  南京市  行业特色研究型  教育部
   华南农业大学    95  63.64   广东  广州市  区域特色研究型  广东省
   华中农业大学    49  65.77   湖北  武汉市  行业特色研究型  教育部
   北京林业大学    88  63.79   北京  北京市  行业特色研究型  教育部
...          ..    ...  ...  ...      ...  ...
财经 西南财经大学    77  64.27   四川  成都市  区域特色研究型  教育部
   对外经济贸易大学  90  63.77   北京  北京市  区域特色研究型  教育部
   中央财经大学    82  63.99   北京  北京市  区域特色研究型  教育部
   中南财经政法大学  76  64.32   湖北  武汉市  行业特色研究型  教育部
   上海财经大学    64  64.96   上海  上海市  行业特色研究型  教育部

[100 rows x 6 columns]

In [8]:
df2.sort_index(level='学校名称')

           名次     总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 上海交通大学   7  81.76   上海  上海市    中国研究型  教育部
   上海大学    75  64.41   上海  上海市    区域研究型  上海市
财经 上海财经大学  64  64.96   上海  上海市  行业特色研究型  教育部
理工 东北大学    26  69.55   辽宁  沈阳市    中国研究型  教育部
师范 东北师范大学  40  66.50   吉林  长春市  行业特色研究型  教育部
...        ..    ...  ...  ...      ...  ...
综合 重庆大学    27  69.54   重庆  重庆市    中国研究型  教育部
理工 长安大学    42  66.08   陕西  西安市  行业特色研究型  教育部
师范 陕西师范大学  86  63.88   陕西  西安市  区域特色研究型  教育部
医药 首都医科大学  98  63.32   北京  北京市  区域特色研究型  北京市
师范 首都师范大学  92  63.73   北京  北京市  区域特色研究型  北京市

[100 rows x 6 columns]

In [9]:
df2.sort_values(
    ["所在省份","所在城市"]
)

             名次     总分 所在省份  所在城市     办学方向     主管部门
类型 学校名称
医药 第二军医大学    71  64.74   上海    上海  行业特色研究型
综合 复旦大学       3  82.79   上海   上海市    中国研究型      教育部
   上海交通大学     7  81.76   上海   上海市    中国研究型      教育部
理工 同济大学      19  72.85   上海   上海市    中国研究型      教育部
师范 华东师范大学    28  69.52   上海   上海市    中国研究型      教育部
...          ..    ...  ...   ...      ...      ...
综合 西北大学      47  65.88   陕西   西安市    区域研究型      陕西省
理工 西安电子科技大学  69  64.82   陕西   西安市  行业特色研究型      教育部
师范 陕西师范大学    86  63.88   陕西   西安市  区域特色研究型      教育部
理工 哈尔滨工业大学   21  72.72  黑龙江  哈尔滨市    中国研究型  工业和信息化部
   哈尔滨工程大学   57  65.41  黑龙江  哈尔滨市  行业特色研究型  工业和信息化部

[100 rows x 6 columns]

In [10]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [15]:
df2.iloc[0:3]

         名次      总分 所在省份 所在城市   办学方向 主管部门
类型 学校名称
综合 北京大学   1  100.00   北京  北京市  中国研究型  教育部
理工 清华大学   2   98.50   北京  北京市  中国研究型  教育部
综合 复旦大学   3   82.79   上海  上海市  中国研究型  教育部

In [17]:
df2.iloc[[0,3]]  # 只是筛选出第一和第四行

         名次      总分 所在省份 所在城市   办学方向 主管部门
类型 学校名称
综合 北京大学   1  100.00   北京  北京市  中国研究型  教育部
   武汉大学   4   82.43   湖北  武汉市  中国研究型  教育部

In [20]:
df2.iloc[:,0:3]   # 只指定列范围

            名次      总分 所在省份
类型 学校名称
综合 北京大学      1  100.00   北京
理工 清华大学      2   98.50   北京
综合 复旦大学      3   82.79   上海
   武汉大学      4   82.43   湖北
   浙江大学      5   82.38   浙江
...        ...     ...  ...
师范 浙江师范大学   96   63.37   浙江
综合 安徽大学     97   63.34   安徽
医药 首都医科大学   98   63.32   北京
综合 江南大学     99   63.31   江苏
   山西大学    100   63.29   山西

[100 rows x 3 columns]

In [21]:
df2.iloc[[1,4],0:3]

         名次     总分 所在省份
类型 学校名称
理工 清华大学   2  98.50   北京
综合 浙江大学   5  82.38   浙江

In [22]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [23]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name= "full",index_col="名次")
df2

       学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
名次
1      北京大学  100.00  综合   北京  北京市    中国研究型  教育部
2      清华大学   98.50  理工   北京  北京市    中国研究型  教育部
3      复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
4      武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
5      浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..      ...     ...  ..  ...  ...      ...  ...
96   浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
97     安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
98   首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
99     江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [25]:
df2.iloc[2:4]

    学校名称     总分  类型 所在省份 所在城市   办学方向 主管部门
名次
3   复旦大学  82.79  综合   上海  上海市  中国研究型  教育部
4   武汉大学  82.43  综合   湖北  武汉市  中国研究型  教育部

In [26]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name= "full",index_col="学校名称")
df2

         名次      总分  类型 所在省份 所在城市     办学方向 主管部门
学校名称
北京大学      1  100.00  综合   北京  北京市    中国研究型  教育部
清华大学      2   98.50  理工   北京  北京市    中国研究型  教育部
复旦大学      3   82.79  综合   上海  上海市    中国研究型  教育部
武汉大学      4   82.43  综合   湖北  武汉市    中国研究型  教育部
浙江大学      5   82.38  综合   浙江  杭州市    中国研究型  教育部
...     ...     ...  ..  ...  ...      ...  ...
浙江师范大学   96   63.37  师范   浙江  金华市  区域特色研究型  浙江省
安徽大学     97   63.34  综合   安徽  合肥市    区域研究型  安徽省
首都医科大学   98   63.32  医药   北京  北京市  区域特色研究型  北京市
江南大学     99   63.31  综合   江苏  无锡市  区域特色研究型  教育部
山西大学    100   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 7 columns]

In [30]:
df2.loc['北京大学':'复旦大学']

      名次      总分  类型 所在省份 所在城市   办学方向 主管部门
学校名称
北京大学   1  100.00  综合   北京  北京市  中国研究型  教育部
清华大学   2   98.50  理工   北京  北京市  中国研究型  教育部
复旦大学   3   82.79  综合   上海  上海市  中国研究型  教育部

In [31]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name= "full",index_col=[3,1])
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [32]:
df2.loc[["师范"]]

           名次     总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
师范 北京师范大学  15  74.75   北京  北京市    中国研究型  教育部
   华东师范大学  28  69.52   上海  上海市    中国研究型  教育部
   华中师范大学  34  67.92   湖北  武汉市    中国研究型  教育部
   东北师范大学  40  66.50   吉林  长春市  行业特色研究型  教育部
   南京师范大学  50  65.71   江苏  南京市  区域特色研究型  江苏省
...        ..    ...  ...  ...      ...  ...
   湖南师范大学  72  64.65   湖南  长沙市    区域研究型  湖南省
   华南师范大学  74  64.42   广东  广州市  区域特色研究型  广东省
   陕西师范大学  86  63.88   陕西  西安市  区域特色研究型  教育部
   首都师范大学  92  63.73   北京  北京市  区域特色研究型  北京市
   浙江师范大学  96  63.37   浙江  金华市  区域特色研究型  浙江省

[11 rows x 6 columns]

In [33]:
df2.loc[[("师范","南京师范大学")]]

           名次     总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
师范 南京师范大学  50  65.71   江苏  南京市  区域特色研究型  江苏省

In [34]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [36]:
df2.xs("南京师范大学",level= 1,drop_level = False)

           名次     总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
师范 南京师范大学  50  65.71   江苏  南京市  区域特色研究型  江苏省

In [39]:
df2.reset_index().ix[0:4]

d:\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   类型  学校名称  名次      总分 所在省份 所在城市   办学方向 主管部门
0  综合  北京大学   1  100.00   北京  北京市  中国研究型  教育部
1  理工  清华大学   2   98.50   北京  北京市  中国研究型  教育部
2  综合  复旦大学   3   82.79   上海  上海市  中国研究型  教育部
3  综合  武汉大学   4   82.43   湖北  武汉市  中国研究型  教育部
4  综合  浙江大学   5   82.38   浙江  杭州市  中国研究型  教育部

In [38]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [40]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [43]:
df2["所在城市"]="南京市"
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  南京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  南京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  南京市    中国研究型  教育部
   武汉大学      4   82.43   湖北  南京市    中国研究型  教育部
   浙江大学      5   82.38   浙江  南京市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  南京市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  南京市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  南京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  南京市  区域特色研究型  教育部
   山西大学    100   63.29   山西  南京市    区域研究型  山西省

[100 rows x 6 columns]

In [44]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  南京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  南京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  南京市    中国研究型  教育部
   武汉大学      4   82.43   湖北  南京市    中国研究型  教育部
   浙江大学      5   82.38   浙江  南京市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  南京市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  南京市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  南京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  南京市  区域特色研究型  教育部
   山西大学    100   63.29   山西  南京市    区域研究型  山西省

[100 rows x 6 columns]

In [46]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name = "full",index_col=[3,1])

In [47]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [49]:
df2[df2.名次>10]

              名次     总分 所在省份 所在城市     办学方向   主管部门
类型 学校名称
综合 吉林大学       11  76.01   吉林  长春市    中国研究型    教育部
理工 中国科学技术大学   12  75.14   安徽  合肥市    中国研究型  中国科学院
   华中科技大学     13  75.12   湖北  武汉市    中国研究型    教育部
综合 四川大学       14  74.99   四川  成都市    中国研究型    教育部
师范 北京师范大学     15  74.75   北京  北京市    中国研究型    教育部
...          ...    ...  ...  ...      ...    ...
   浙江师范大学     96  63.37   浙江  金华市  区域特色研究型    浙江省
综合 安徽大学       97  63.34   安徽  合肥市    区域研究型    安徽省
医药 首都医科大学     98  63.32   北京  北京市  区域特色研究型    北京市
综合 江南大学       99  63.31   江苏  无锡市  区域特色研究型    教育部
   山西大学      100  63.29   山西  太原市    区域研究型    山西省

[90 rows x 6 columns]

In [52]:
df2[df2.名次.isin([1,3,5])]

         名次      总分 所在省份 所在城市   办学方向 主管部门
类型 学校名称
综合 北京大学   1  100.00   北京  北京市  中国研究型  教育部
   复旦大学   3   82.79   上海  上海市  中国研究型  教育部
   浙江大学   5   82.38   浙江  杭州市  中国研究型  教育部

In [53]:
df2[df2.所在省份.isin(["江苏"])]

             名次     总分 所在省份 所在城市     办学方向     主管部门
类型 学校名称
综合 南京大学       8  80.43   江苏  南京市    中国研究型      教育部
   东南大学      24  71.35   江苏  南京市    中国研究型      教育部
理工 中国矿业大学    42  66.08   江苏  徐州市  行业特色研究型      教育部
农林 南京农业大学    46  65.90   江苏  南京市  行业特色研究型      教育部
师范 南京师范大学    50  65.71   江苏  南京市  区域特色研究型      江苏省
...          ..    ...  ...  ...      ...      ...
理工 南京理工大学    56  65.48   江苏  南京市  行业特色研究型  工业和信息化部
   南京航空航天大学  61  65.05   江苏  南京市  行业特色研究型  工业和信息化部
综合 苏州大学      63  64.99   江苏  苏州市    区域研究型      江苏省
理工 解放军理工大学   81  64.09   江苏  南京市  行业特色研究型
综合 江南大学      99  63.31   江苏  无锡市  区域特色研究型      教育部

[11 rows x 6 columns]

In [56]:
df2[df2.所在省份.isin(["江苏"])]
df2[df2.index.isin(["财经"])]

Empty DataFrame
Columns: [名次, 总分, 所在省份, 所在城市, 办学方向, 主管部门]
Index: []

In [57]:
df2[df2.名次>10]

              名次     总分 所在省份 所在城市     办学方向   主管部门
类型 学校名称
综合 吉林大学       11  76.01   吉林  长春市    中国研究型    教育部
理工 中国科学技术大学   12  75.14   安徽  合肥市    中国研究型  中国科学院
   华中科技大学     13  75.12   湖北  武汉市    中国研究型    教育部
综合 四川大学       14  74.99   四川  成都市    中国研究型    教育部
师范 北京师范大学     15  74.75   北京  北京市    中国研究型    教育部
...          ...    ...  ...  ...      ...    ...
   浙江师范大学     96  63.37   浙江  金华市  区域特色研究型    浙江省
综合 安徽大学       97  63.34   安徽  合肥市    区域研究型    安徽省
医药 首都医科大学     98  63.32   北京  北京市  区域特色研究型    北京市
综合 江南大学       99  63.31   江苏  无锡市  区域特色研究型    教育部
   山西大学      100  63.29   山西  太原市    区域研究型    山西省

[90 rows x 6 columns]

In [58]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [63]:
df2.query("名次>10 and 名次<90")

             名次     总分 所在省份 所在城市     办学方向     主管部门
类型 学校名称
综合 吉林大学      11  76.01   吉林  长春市    中国研究型      教育部
理工 中国科学技术大学  12  75.14   安徽  合肥市    中国研究型    中国科学院
   华中科技大学    13  75.12   湖北  武汉市    中国研究型      教育部
综合 四川大学      14  74.99   四川  成都市    中国研究型      教育部
师范 北京师范大学    15  74.75   北京  北京市    中国研究型      教育部
...          ..    ...  ...  ...      ...      ...
综合 广西大学      83  63.89   广西  南宁市    区域研究型  广西壮族自治区
师范 陕西师范大学    86  63.88   陕西  西安市  区域特色研究型      教育部
综合 深圳大学      87  63.86   广东  深圳市    区域研究型      广东省
农林 北京林业大学    88  63.79   北京  北京市  行业特色研究型      教育部
民族 中央民族大学    89  63.78   北京  北京市  行业特色研究型     国家民委

[79 rows x 6 columns]

In [62]:
df2.query("所在城市== '南京市' ")

             名次     总分 所在省份 所在城市     办学方向     主管部门
类型 学校名称
综合 南京大学       8  80.43   江苏  南京市    中国研究型      教育部
   东南大学      24  71.35   江苏  南京市    中国研究型      教育部
农林 南京农业大学    46  65.90   江苏  南京市  行业特色研究型      教育部
师范 南京师范大学    50  65.71   江苏  南京市  区域特色研究型      江苏省
理工 河海大学      54  65.50   江苏  南京市  行业特色研究型      教育部
   南京理工大学    56  65.48   江苏  南京市  行业特色研究型  工业和信息化部
   南京航空航天大学  61  65.05   江苏  南京市  行业特色研究型  工业和信息化部
   解放军理工大学   81  64.09   江苏  南京市  行业特色研究型

In [64]:
limit = 10
df2.query("名次<@limit")

             名次      总分 所在省份 所在城市   办学方向  主管部门
类型 学校名称
综合 北京大学       1  100.00   北京  北京市  中国研究型   教育部
理工 清华大学       2   98.50   北京  北京市  中国研究型   教育部
综合 复旦大学       3   82.79   上海  上海市  中国研究型   教育部
   武汉大学       4   82.43   湖北  武汉市  中国研究型   教育部
   浙江大学       5   82.38   浙江  杭州市  中国研究型   教育部
   中国人民大学     6   81.98   北京  北京市  中国研究型   教育部
   上海交通大学     7   81.76   上海  上海市  中国研究型   教育部
   南京大学       8   80.43   江苏  南京市  中国研究型   教育部
理工 国防科学技术大学   9   80.31   湖南  长沙市  中国研究型  中央军委

In [65]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部
...        ...     ...  ...  ...      ...  ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部
   山西大学    100   63.29   山西  太原市    区域研究型  山西省

[100 rows x 6 columns]

In [69]:
df2["cons"] = 1
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门  cons
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部     1
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部     1
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部     1
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部     1
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部     1
...        ...     ...  ...  ...      ...  ...   ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省     1
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省     1
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市     1
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部     1
   山西大学    100   63.29   山西  太原市    区域研究型  山西省     1

[100 rows x 7 columns]

In [70]:
df2["new2"] = df2.总分 + df2.名次 + 1
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门  cons    new2
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部     1  102.00
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部     1  101.50
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部     1   86.79
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部     1   87.43
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部     1   88.38
...        ...     ...  ...  ...      ...  ...   ...     ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省     1  160.37
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省     1  161.34
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市     1  162.32
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部     1  163.31
   山西大学    100   63.29   山西  太原市    区域研究型  山西省     1  164.29

[100 rows x 8 columns]

In [73]:
import numpy
df2["new2"] = numpy.sqrt(df2.new2)
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门  cons       new2
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部     1  10.099505
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部     1  10.074721
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部     1   9.316115
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部     1   9.350401
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部     1   9.401064
...        ...     ...  ...  ...      ...  ...   ...        ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省     1  12.663728
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省     1  12.701968
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市     1  12.740487
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部     1  12.779280
   山西大学    100   63.29   山西  太原市    区域研究型  山西省     1  12.817566

[100 rows x 8 columns]

In [74]:
import numpy
df2["new2"] = numpy.sqrt(df2.总分)
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门  cons       new2
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部     1  10.000000
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部     1   9.924717
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部     1   9.098901
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部     1   9.079097
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部     1   9.076343
...        ...     ...  ...  ...      ...  ...   ...        ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省     1   7.960528
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省     1   7.958643
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市     1   7.957387
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部     1   7.956758
   山西大学    100   63.29   山西  太原市    区域研究型  山西省     1   7.955501

[100 rows x 8 columns]

In [77]:
import math
df2["new3"] = df2.总分.apply(math.sqrt)
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门  cons       new2       new3
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部     1  10.000000  10.000000
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部     1   9.924717   9.924717
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部     1   9.098901   9.098901
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部     1   9.079097   9.079097
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部     1   9.076343   9.076343
...        ...     ...  ...  ...      ...  ...   ...        ...        ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省     1   7.960528   7.960528
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省     1   7.958643   7.958643
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市     1   7.957387   7.957387
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部     1   7.956758   7.956758
   山西大学    100   63.29   山西  太原市    区域研究型  山西省     1   7.955501   7.955501

[100 rows x 9 columns]

In [78]:
df2

            名次      总分 所在省份 所在城市     办学方向 主管部门  cons       new2       new3
类型 学校名称
综合 北京大学      1  100.00   北京  北京市    中国研究型  教育部     1  10.000000  10.000000
理工 清华大学      2   98.50   北京  北京市    中国研究型  教育部     1   9.924717   9.924717
综合 复旦大学      3   82.79   上海  上海市    中国研究型  教育部     1   9.098901   9.098901
   武汉大学      4   82.43   湖北  武汉市    中国研究型  教育部     1   9.079097   9.079097
   浙江大学      5   82.38   浙江  杭州市    中国研究型  教育部     1   9.076343   9.076343
...        ...     ...  ...  ...      ...  ...   ...        ...        ...
师范 浙江师范大学   96   63.37   浙江  金华市  区域特色研究型  浙江省     1   7.960528   7.960528
综合 安徽大学     97   63.34   安徽  合肥市    区域研究型  安徽省     1   7.958643   7.958643
医药 首都医科大学   98   63.32   北京  北京市  区域特色研究型  北京市     1   7.957387   7.957387
综合 江南大学     99   63.31   江苏  无锡市  区域特色研究型  教育部     1   7.956758   7.956758
   山西大学    100   63.29   山西  太原市    区域研究型  山西省     1   7.955501   7.955501

[100 rows x 9 columns]

In [79]:
df2.insert(1,"newvar","cons")

In [81]:
df2

            名次 newvar      总分 所在省份 所在城市     办学方向 主管部门  cons       new2  \
类型 学校名称
综合 北京大学      1   cons  100.00   北京  北京市    中国研究型  教育部     1  10.000000
理工 清华大学      2   cons   98.50   北京  北京市    中国研究型  教育部     1   9.924717
综合 复旦大学      3   cons   82.79   上海  上海市    中国研究型  教育部     1   9.098901
   武汉大学      4   cons   82.43   湖北  武汉市    中国研究型  教育部     1   9.079097
   浙江大学      5   cons   82.38   浙江  杭州市    中国研究型  教育部     1   9.076343
...        ...    ...     ...  ...  ...      ...  ...   ...        ...
师范 浙江师范大学   96   cons   63.37   浙江  金华市  区域特色研究型  浙江省     1   7.960528
综合 安徽大学     97   cons   63.34   安徽  合肥市    区域研究型  安徽省     1   7.958643
医药 首都医科大学   98   cons   63.32   北京  北京市  区域特色研究型  北京市     1   7.957387
综合 江南大学     99   cons   63.31   江苏  无锡市  区域特色研究型  教育部     1   7.956758
   山西大学    100   cons   63.29   山西  太原市    区域研究型  山西省     1   7.955501

                new3
类型 学校名称
综合 北京大学    10.000000
理工 清华大学     9.924717
综合 复旦大学     9.098901
   武汉大学     9.079097
   浙江大学     9.076343
...              ...
师范 浙江师范大学   7.960528
综合 安徽大学     7.958643
医药 首都医科大学   7.957387
综合 江南大学     7.956758
   山西大学     7.955501

[100 rows x 10 columns]

In [83]:
df2[df2.所在城市.isin(["上海"])]

           名次 newvar     总分 所在省份 所在城市     办学方向 主管部门  cons      new2      new3
类型 学校名称
医药 第二军医大学  71   cons  64.74   上海   上海  行业特色研究型          1  8.046117  8.046117

In [84]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name = "full")
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [85]:
df2[df2.所在城市.isin(["上海"])]

    名次    学校名称     总分  类型 所在省份 所在城市     办学方向 主管部门
70  71  第二军医大学  64.74  医药   上海   上海  行业特色研究型

In [86]:
df2.loc[70,"所在城市"] = "上海市"

In [87]:
df2[69:75]

    名次    学校名称     总分  类型 所在省份 所在城市     办学方向 主管部门
69  70  第三军医大学  64.81  医药   重庆   重庆  行业特色研究型
70  71  第二军医大学  64.74  医药   上海  上海市  行业特色研究型
71  72  湖南师范大学  64.65  师范   湖南  长沙市    区域研究型  湖南省
72  73  第四军医大学  64.51  医药   陕西   西安  行业特色研究型
73  74  华南师范大学  64.42  师范   广东  广州市  区域特色研究型  广东省
74  75    上海大学  64.41  综合   上海  上海市    区域研究型  上海市

In [93]:
df2.所在城市.replace({"北京市":"帝都"},inplace = True)
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京   帝都    中国研究型  教育部
1     2    清华大学   98.50  理工   北京   帝都    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京   帝都  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [94]:
df2.loc[3:5,"总分"] = 20
df2.head(10)

   名次      学校名称      总分  类型 所在省份 所在城市   办学方向  主管部门
0   1      北京大学  100.00  综合   北京   帝都  中国研究型   教育部
1   2      清华大学   98.50  理工   北京   帝都  中国研究型   教育部
2   3      复旦大学   82.79  综合   上海  上海市  中国研究型   教育部
3   4      武汉大学   20.00  综合   湖北  武汉市  中国研究型   教育部
4   5      浙江大学   20.00  综合   浙江  杭州市  中国研究型   教育部
5   6    中国人民大学   20.00  综合   北京   帝都  中国研究型   教育部
6   7    上海交通大学   81.76  综合   上海  上海市  中国研究型   教育部
7   8      南京大学   80.43  综合   江苏  南京市  中国研究型   教育部
8   9  国防科学技术大学   80.31  理工   湖南  长沙市  中国研究型  中央军委
9  10      中山大学   76.46  综合   广东  广州市  中国研究型   教育部

In [95]:
df2.loc[df2.名次<20,"总分"] = 200
df2.head(20)

    名次    学校名称      总分  类型 所在省份 所在城市   办学方向 主管部门
0    1    北京大学  200.00  综合   北京   帝都  中国研究型  教育部
1    2    清华大学  200.00  理工   北京   帝都  中国研究型  教育部
2    3    复旦大学  200.00  综合   上海  上海市  中国研究型  教育部
3    4    武汉大学  200.00  综合   湖北  武汉市  中国研究型  教育部
4    5    浙江大学  200.00  综合   浙江  杭州市  中国研究型  教育部
..  ..     ...     ...  ..  ...  ...    ...  ...
15  16    南开大学  200.00  综合   天津  天津市  中国研究型  教育部
16  17  西安交通大学  200.00  综合   陕西  西安市  中国研究型  教育部
17  18    中南大学  200.00  综合   湖南  长沙市  中国研究型  教育部
18  19    同济大学  200.00  理工   上海  上海市  中国研究型  教育部
19  20    天津大学   72.81  理工   天津  天津市  中国研究型  教育部

[20 rows x 8 columns]

In [97]:
df2.loc[df2.query("名次<10 and 类型=='综合'").index, "总分"] = 10
df2.head(10)

   名次      学校名称     总分  类型 所在省份 所在城市   办学方向  主管部门
0   1      北京大学   10.0  综合   北京   帝都  中国研究型   教育部
1   2      清华大学  200.0  理工   北京   帝都  中国研究型   教育部
2   3      复旦大学   10.0  综合   上海  上海市  中国研究型   教育部
3   4      武汉大学   10.0  综合   湖北  武汉市  中国研究型   教育部
4   5      浙江大学   10.0  综合   浙江  杭州市  中国研究型   教育部
5   6    中国人民大学   10.0  综合   北京   帝都  中国研究型   教育部
6   7    上海交通大学   10.0  综合   上海  上海市  中国研究型   教育部
7   8      南京大学   10.0  综合   江苏  南京市  中国研究型   教育部
8   9  国防科学技术大学  200.0  理工   湖南  长沙市  中国研究型  中央军委
9  10      中山大学  200.0  综合   广东  广州市  中国研究型   教育部

In [3]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name = "full")
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [7]:
df2["cls"] = pd.cut(df2.名次,bins = [1,3,7],right=True,include_lowest = True)  # 按名次1，3，7划分
df2.head(10)

   名次      学校名称      总分  类型 所在省份 所在城市   办学方向  主管部门           cls
0   1      北京大学  100.00  综合   北京  北京市  中国研究型   教育部  (0.999, 3.0]
1   2      清华大学   98.50  理工   北京  北京市  中国研究型   教育部  (0.999, 3.0]
2   3      复旦大学   82.79  综合   上海  上海市  中国研究型   教育部  (0.999, 3.0]
3   4      武汉大学   82.43  综合   湖北  武汉市  中国研究型   教育部    (3.0, 7.0]
4   5      浙江大学   82.38  综合   浙江  杭州市  中国研究型   教育部    (3.0, 7.0]
5   6    中国人民大学   81.98  综合   北京  北京市  中国研究型   教育部    (3.0, 7.0]
6   7    上海交通大学   81.76  综合   上海  上海市  中国研究型   教育部    (3.0, 7.0]
7   8      南京大学   80.43  综合   江苏  南京市  中国研究型   教育部           NaN
8   9  国防科学技术大学   80.31  理工   湖南  长沙市  中国研究型  中央军委           NaN
9  10      中山大学   76.46  综合   广东  广州市  中国研究型   教育部           NaN

In [8]:
df2g = df2.groupby("类型")
df2g

In [9]:
df2g.groups

{'农林': Int64Index([31, 45, 48, 64, 87, 94], dtype='int64'),
 '医药': Int64Index([44, 69, 70, 72, 97], dtype='int64'),
 '师范': Int64Index([14, 27, 33, 39, 49, 51, 71, 73, 85, 91, 95], dtype='int64'),
 '政法': Int64Index([65], dtype='int64'),
 '民族': Int64Index([88], dtype='int64'),
 '理工': Int64Index([ 1,  8, 11, 12, 18, 19, 20, 24, 25, 28, 29, 30, 34, 36, 37, 38, 40,
             41, 42, 43, 47, 50, 53, 54, 55, 56, 59, 60, 66, 67, 68, 77, 78, 80,
             82, 83, 90, 92, 93],
            dtype='int64'),
 '综合': Int64Index([ 0,  2,  3,  4,  5,  6,  7,  9, 10, 13, 15, 16, 17, 21, 22, 23, 26,
             32, 35, 46, 52, 57, 58, 61, 62, 74, 79, 84, 86, 96, 98, 99],
            dtype='int64'),
 '财经': Int64Index([63, 75, 76, 81, 89], dtype='int64')}

In [11]:
df2g.describe()

      名次                                                           总分  \
   count       mean        std   min    25%   50%    75%    max count
类型
农林   6.0  62.500000  24.889757  32.0  46.75  57.0  82.25   95.0   6.0
医药   5.0  71.400000  18.769656  45.0  70.00  71.0  73.00   98.0   5.0
师范  11.0  58.090909  27.540714  15.0  37.00  52.0  80.00   96.0  11.0
政法   1.0  66.000000        NaN  66.0  66.00  66.0  66.00   66.0   1.0
民族   1.0  89.000000        NaN  89.0  89.00  89.0  89.00   89.0   1.0
理工  39.0  48.179487  25.180268   2.0  29.50  42.0  67.50   93.0  39.0
综合  32.0  38.968750  32.587831   1.0  10.75  25.5  62.25  100.0  32.0
财经   5.0  77.800000   9.497368  64.0  76.00  77.0  82.00   90.0   5.0


         mean       std    min      25%     50%      75%     max
类型
农林  65.345000  1.631646  63.64  64.0725  65.345  65.8675   68.05
医药  64.682000  0.964557  63.32  64.5100  64.740  64.8100   66.03
师范  66.371818  3.353586  63.37  64.1500  65.640  67.2100   74.75
政法  64.900000       NaN  64.90  64.9000  64.900  64.9000   64.90
民族  63.780000       NaN  63.78  63.7800  63.780  63.7800   63.78
理工  68.092051  6.276458  63.66  64.8700  66.080  68.7800   98.50
综合  71.858125  8.483140  63.29  65.0050  70.445  76.1225  100.00
财经  64.262000  0.449077  63.77  63.9900  64.270  64.3200   64.96

In [12]:
df3g = df2.groupby(["类型","所在省份"])
df3g

In [13]:
df3g.describe()

           名次                                                   总分         \
        count  mean        std   min   25%   50%   75%   max count   mean
类型 所在省份
农林 北京     2.0  60.0  39.597980  32.0  46.0  60.0  74.0  88.0   2.0  65.92
   广东     1.0  95.0        NaN  95.0  95.0  95.0  95.0  95.0   1.0  63.64
   江苏     1.0  46.0        NaN  46.0  46.0  46.0  46.0  46.0   1.0  65.90
   湖北     1.0  49.0        NaN  49.0  49.0  49.0  49.0  49.0   1.0  65.77
   陕西     1.0  65.0        NaN  65.0  65.0  65.0  65.0  65.0   1.0  64.92
...       ...   ...        ...   ...   ...   ...   ...   ...   ...    ...
综合 陕西     2.0  32.0  21.213203  17.0  24.5  32.0  39.5  47.0   2.0  69.72
财经 上海     1.0  64.0        NaN  64.0  64.0  64.0  64.0  64.0   1.0  64.96
   北京     2.0  86.0   5.656854  82.0  84.0  86.0  88.0  90.0   2.0  63.88
   四川     1.0  77.0        NaN  77.0  77.0  77.0  77.0  77.0   1.0  64.27
   湖北     1.0  76.0        NaN  76.0  76.0  76.0  76.0  76.0   1.0  64.32


              std    min     25%    50%     75%    max
类型 所在省份
农林 北京    3.012275  63.79  64.855  65.92  66.985  68.05
   广东         NaN  63.64  63.640  63.64  63.640  63.64
   江苏         NaN  65.90  65.900  65.90  65.900  65.90
   湖北         NaN  65.77  65.770  65.77  65.770  65.77
   陕西         NaN  64.92  64.920  64.92  64.920  64.92
...           ...    ...     ...    ...     ...    ...
综合 陕西    5.430580  65.88  67.800  69.72  71.640  73.56
财经 上海         NaN  64.96  64.960  64.96  64.960  64.96
   北京    0.155563  63.77  63.825  63.88  63.935  63.99
   四川         NaN  64.27  64.270  64.27  64.270  64.27
   湖北         NaN  64.32  64.320  64.32  64.320  64.32

[62 rows x 16 columns]

In [14]:
df2g.get_group("农林").mean()

名次     62.500
总分     65.345
cls       NaN
dtype: float64

In [11]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name="full")

In [12]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [14]:
df2g = df2.groupby(["类型"])

In [15]:
df2g.agg("count")

    名次  学校名称  总分  所在省份  所在城市  办学方向  主管部门
类型
农林   6     6   6     6     6     6     6
医药   5     5   5     5     5     5     5
师范  11    11  11    11    11    11    11
政法   1     1   1     1     1     1     1
民族   1     1   1     1     1     1     1
理工  39    39  39    39    39    39    39
综合  32    32  32    32    32    32    32
财经   5     5   5     5     5     5     5

In [17]:
df2g.agg("median")

      名次      总分
类型
农林  57.0  65.345
医药  71.0  64.740
师范  52.0  65.640
政法  66.0  64.900
民族  89.0  63.780
理工  42.0  66.080
综合  25.5  70.445
财经  77.0  64.270

In [19]:
import numpy as np
print(df2.总分.agg(np.sum))
df2g.总分.agg(np.sum)

6850.61

类型
农林     392.07
医药     323.41
师范     730.09
政法      64.90
民族      63.78
理工    2655.59
综合    2299.46
财经     321.31
Name: 总分, dtype: float64

In [20]:
def mymean(x):
    return x.mean()
df2.总分.agg(mymean)

68.5061

In [21]:
pd.crosstab(df2.办学方向,df2.类型)

类型       农林  医药  师范  政法  民族  理工  综合  财经
办学方向
中国研究型     0   0   3   0   0  13  19   0
区域特色研究型   1   1   5   0   0   2   1   3
区域研究型     0   0   2   0   0   3  11   0
行业特色研究型   5   4   1   1   1  21   1   2

In [22]:
df3 = pd.read_excel("儿童生长研究.xlsx",index_col = [0,2])
df3

        性别   测量值
个体ID 年龄
1    8   F  21.0
     10  F  20.0
     12  F  21.5
     14  F  23.0
2    8   F  21.0
...     ..   ...
26   14  M  30.0
27   8   M  22.0
     10  M  21.5
     12  M  23.5
     14  M  25.0

[108 rows x 2 columns]

In [23]:
df3s = df3.stack()
df3s

个体ID  年龄
1     8   性别        F
          测量值      21
      10  性别        F
          测量值      20
      12  性别        F
                 ...
27    10  测量值    21.5
      12  性别        M
          测量值    23.5
      14  性别        M
          测量值      25
Length: 216, dtype: object

In [24]:
df3s.unstack(1)   # level 需要处理的索引级别

年龄          8     10    12    14
个体ID
1    性别      F     F     F     F
     测量值    21    20  21.5    23
2    性别      F     F     F     F
     测量值    21  21.5    24  25.5
3    性别      F     F     F     F
...        ...   ...   ...   ...
25   测量值  22.5  25.5  25.5    26
26   性别      M     M     M     M
     测量值    23  24.5    26    30
27   性别      M     M     M     M
     测量值    22  21.5  23.5    25

[54 rows x 4 columns]

In [25]:
df3s.unstack([1,2])

年龄   8        10       12       14
     性别   测量值 性别   测量值 性别   测量值 性别   测量值
个体ID
1     F    21  F    20  F  21.5  F    23
2     F    21  F  21.5  F    24  F  25.5
3     F  20.5  F    24  F  24.5  F    26
4     F  23.5  F  24.5  F    25  F  26.5
5     F  21.5  F    23  F  22.5  F  23.5
...  ..   ... ..   ... ..   ... ..   ...
23    M  21.5  M  23.5  M    24  M    28
24    M    17  M  24.5  M    26  M  29.5
25    M  22.5  M  25.5  M  25.5  M    26
26    M    23  M  24.5  M    26  M    30
27    M    22  M  21.5  M  23.5  M    25

[27 rows x 8 columns]

In [26]:
df3.T

个体ID  1                 2                     3       ...    25      26        \
年龄    8   10    12  14  8     10  12    14    8   10  ...    12  14  8     10
性别     F   F     F   F   F     F   F     F     F   F  ...     M   M   M     M
测量值   21  20  21.5  23  21  21.5  24  25.5  20.5  24  ...  25.5  26  23  24.5

个体ID          27
年龄    12  14  8     10    12  14
性别     M   M   M     M     M   M
测量值   26  30  22  21.5  23.5  25

[2 rows x 108 columns]

In [27]:
df21 = pd.read_excel("高校信息.xlsx",sheet_name = "part1")
df22 = pd.read_excel("高校信息.xlsx",sheet_name = "part2")
df21 = df21.sort_values("总分")
df2 = df21.append(df22)
df2

     名次    学校名称     总分  类型 所在省份 所在城市     办学方向 主管部门
49   50  南京师范大学  65.71  师范   江苏  南京市  区域特色研究型  江苏省
48   49  华中农业大学  65.77  农林   湖北  武汉市  行业特色研究型  教育部
47   48  华东理工大学  65.79  理工   上海  上海市  行业特色研究型  教育部
46   47    西北大学  65.88  综合   陕西  西安市    区域研究型  陕西省
45   46  南京农业大学  65.90  农林   江苏  南京市  行业特色研究型  教育部
..  ...     ...    ...  ..  ...  ...      ...  ...
45   96  浙江师范大学  63.37  师范   浙江  金华市  区域特色研究型  浙江省
46   97    安徽大学  63.34  综合   安徽  合肥市    区域研究型  安徽省
47   98  首都医科大学  63.32  医药   北京  北京市  区域特色研究型  北京市
48   99    江南大学  63.31  综合   江苏  无锡市  区域特色研究型  教育部
49  100    山西大学  63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [28]:
df2a = pd.read_excel("高校信息.xlsx",sheet_name="var6")
df2b = pd.read_excel("高校信息.xlsx",sheet_name="var3")
pd.merge(df2a,df2b)

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [29]:
## Concat

In [35]:
def m_readdata(filename,startline = 2):
    return pd.read_csv(filename,header = startline,usecols = [0,2,3,4,5,6,7,9,10])

bj08 = m_readdata("PM25/Beijing_2008_HourlyPM2.5_created20140325.csv")
bj09 = m_readdata("PM25/Beijing_2009_HourlyPM25_created20140709.csv")
bj10 = m_readdata("PM25/Beijing_2010_HourlyPM25_created20140709.csv")
bj11 = m_readdata("PM25/Beijing_2011_HourlyPM25_created20140709.csv")
bj12 = m_readdata("PM25/Beijing_2012_HourlyPM2.5_created20140325.csv")
bj13 = m_readdata("PM25/Beijing_2013_HourlyPM2.5_created20140325.csv")
bj14 = m_readdata("PM25/Beijing_2014_HourlyPM25_created20150203.csv")
bj15 = m_readdata("PM25/Beijing_2015_HourlyPM25_created20160201.csv",3)
bj16 = m_readdata("PM25/Beijing_2016_HourlyPM25_created20170201.csv",3)

bj = bj08.append([bj09,bj10,bj11,bj12,bj13,bj14,bj15,bj16])
bj

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
0,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
1,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
3,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
4,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
8779,Beijing,12/31/2016 19:00,2016,12,31,19,409,1 Hr,Valid
8780,Beijing,12/31/2016 20:00,2016,12,31,20,432,1 Hr,Valid
8781,Beijing,12/31/2016 21:00,2016,12,31,21,482,1 Hr,Valid
8782,Beijing,12/31/2016 22:00,2016,12,31,22,488,1 Hr,Valid
8783,Beijing,12/31/2016 23:00,2016,12,31,23,507,1 Hr,Valid

In [37]:
df2.isna()

       名次   学校名称     总分     类型   所在省份   所在城市   办学方向   主管部门
49  False  False  False  False  False  False  False  False
48  False  False  False  False  False  False  False  False
47  False  False  False  False  False  False  False  False
46  False  False  False  False  False  False  False  False
45  False  False  False  False  False  False  False  False
..    ...    ...    ...    ...    ...    ...    ...    ...
45  False  False  False  False  False  False  False  False
46  False  False  False  False  False  False  False  False
47  False  False  False  False  False  False  False  False
48  False  False  False  False  False  False  False  False
49  False  False  False  False  False  False  False  False

[100 rows x 8 columns]

In [41]:
df2.名次.iloc[:3] = np.nan

In [39]:
df2.isna()

       名次   学校名称     总分     类型   所在省份   所在城市   办学方向   主管部门
49   True  False  False  False  False  False  False  False
48   True  False  False  False  False  False  False  False
47   True  False  False  False  False  False  False  False
46  False  False  False  False  False  False  False  False
45  False  False  False  False  False  False  False  False
..    ...    ...    ...    ...    ...    ...    ...    ...
45  False  False  False  False  False  False  False  False
46  False  False  False  False  False  False  False  False
47  False  False  False  False  False  False  False  False
48  False  False  False  False  False  False  False  False
49  False  False  False  False  False  False  False  False

[100 rows x 8 columns]

In [42]:
df2.名次.isna()

49     True
48     True
47     True
46    False
45    False
      ...
45    False
46    False
47    False
48    False
49    False
Name: 名次, Length: 100, dtype: bool

In [43]:
df2.所在省份.replace("北京",np.nan)

49     江苏
48     湖北
47     上海
46     陕西
45     江苏
     ...
45     浙江
46     安徽
47    NaN
48     江苏
49     山西
Name: 所在省份, Length: 100, dtype: object

In [44]:
df2 = pd.read_excel("高校信息.xlsx",sheet_name = "full")

In [45]:
df2

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     1    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     2    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     3    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [46]:
df2.名次.iloc[:3] = None

In [47]:
df2

       名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     NaN    北京大学  100.00  综合   北京  北京市    中国研究型  教育部
1     NaN    清华大学   98.50  理工   北京  北京市    中国研究型  教育部
2     NaN    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4.0    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5.0    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..    ...     ...     ...  ..  ...  ...      ...  ...
95   96.0  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97.0    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98.0  首都医科大学   63.32  医药   北京  北京市  区域特色研究型  北京市
98   99.0    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100.0    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [51]:
df2.所在省份.replace({"北京":np.nan},inplace = True)

In [52]:
df2

       名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0     NaN    北京大学  100.00  综合  NaN  北京市    中国研究型  教育部
1     NaN    清华大学   98.50  理工  NaN  北京市    中国研究型  教育部
2     NaN    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4.0    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5.0    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..    ...     ...     ...  ..  ...  ...      ...  ...
95   96.0  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97.0    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98.0  首都医科大学   63.32  医药  NaN  北京市  区域特色研究型  北京市
98   99.0    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100.0    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [56]:
df2.replace(["北京",100],[np.nan,np.nan]).isna()

       名次   学校名称     总分     类型   所在省份   所在城市   办学方向   主管部门
0    True  False   True  False   True  False  False  False
1    True  False  False  False   True  False  False  False
2    True  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False
..    ...    ...    ...    ...    ...    ...    ...    ...
95  False  False  False  False  False  False  False  False
96  False  False  False  False  False  False  False  False
97  False  False  False  False   True  False  False  False
98  False  False  False  False  False  False  False  False
99   True  False  False  False  False  False  False  False

[100 rows x 8 columns]

In [58]:
df2.isna().any(1)

0      True
1      True
2      True
3     False
4     False
      ...
95    False
96    False
97     True
98    False
99    False
Length: 100, dtype: bool

In [59]:
df2[df2.isna().any(1)]

      名次      学校名称      总分  类型 所在省份 所在城市     办学方向  主管部门
0    NaN      北京大学  100.00  综合  NaN  北京市    中国研究型   教育部
1    NaN      清华大学   98.50  理工  NaN  北京市    中国研究型   教育部
2    NaN      复旦大学   82.79  综合   上海  上海市    中国研究型   教育部
5    6.0    中国人民大学   81.98  综合  NaN  北京市    中国研究型   教育部
14  15.0    北京师范大学   74.75  师范  NaN  北京市    中国研究型   教育部
..   ...       ...     ...  ..  ...  ...      ...   ...
88  89.0    中央民族大学   63.78  民族  NaN  北京市  行业特色研究型  国家民委
89  90.0  对外经济贸易大学   63.77  财经  NaN  北京市  区域特色研究型   教育部
91  92.0    首都师范大学   63.73  师范  NaN  北京市  区域特色研究型   北京市
92  93.0    华北电力大学   63.66  理工  NaN  北京市  区域特色研究型   教育部
97  98.0    首都医科大学   63.32  医药  NaN  北京市  区域特色研究型   北京市

[23 rows x 8 columns]

In [60]:
df2.fillna("未知")

     名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0    未知    北京大学  100.00  综合   未知  北京市    中国研究型  教育部
1    未知    清华大学   98.50  理工   未知  北京市    中国研究型  教育部
2    未知    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..  ...     ...     ...  ..  ...  ...      ...  ...
95   96  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98  首都医科大学   63.32  医药   未知  北京市  区域特色研究型  北京市
98   99    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [ ]:
df2.fillna("未知")

In [61]:
df2.fillna(df2.mean())

            名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门
0    51.907216    北京大学  100.00  综合  NaN  北京市    中国研究型  教育部
1    51.907216    清华大学   98.50  理工  NaN  北京市    中国研究型  教育部
2    51.907216    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部
3     4.000000    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部
4     5.000000    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部
..         ...     ...     ...  ..  ...  ...      ...  ...
95   96.000000  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省
96   97.000000    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省
97   98.000000  首都医科大学   63.32  医药  NaN  北京市  区域特色研究型  北京市
98   99.000000    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部
99  100.000000    山西大学   63.29  综合   山西  太原市    区域研究型  山西省

[100 rows x 8 columns]

In [62]:
df2.mean()

名次    51.907216
总分    68.506100
dtype: float64

In [63]:
df2["dup"] = df2.duplicated(["类型","所在省份"])

In [64]:
df2

       名次    学校名称      总分  类型 所在省份 所在城市     办学方向 主管部门    dup
0     NaN    北京大学  100.00  综合  NaN  北京市    中国研究型  教育部  False
1     NaN    清华大学   98.50  理工  NaN  北京市    中国研究型  教育部  False
2     NaN    复旦大学   82.79  综合   上海  上海市    中国研究型  教育部  False
3     4.0    武汉大学   82.43  综合   湖北  武汉市    中国研究型  教育部  False
4     5.0    浙江大学   82.38  综合   浙江  杭州市    中国研究型  教育部  False
..    ...     ...     ...  ..  ...  ...      ...  ...    ...
95   96.0  浙江师范大学   63.37  师范   浙江  金华市  区域特色研究型  浙江省  False
96   97.0    安徽大学   63.34  综合   安徽  合肥市    区域研究型  安徽省  False
97   98.0  首都医科大学   63.32  医药  NaN  北京市  区域特色研究型  北京市   True
98   99.0    江南大学   63.31  综合   江苏  无锡市  区域特色研究型  教育部   True
99  100.0    山西大学   63.29  综合   山西  太原市    区域研究型  山西省  False

[100 rows x 9 columns]

In [65]:
from datetime import datetime
datetime(2012,5,1)

datetime.datetime(2012, 5, 1, 0, 0)

In [67]:
pd.Timestamp(datetime(2012,5,1))

Timestamp('2012-05-01 00:00:00')

In [68]:
pd.Timestamp(datetime(2012,5,1,1,2,3))

Timestamp('2012-05-01 01:02:03')

In [70]:
pd.Period('2011-01')

Period('2011-01', 'M')

In [71]:
pd.Period('2011-01',freq="D")

Period('2011-01-01', 'D')

In [72]:
bj08

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
0,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
1,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
3,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
4,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
5082,Beijing,2008-11-06 09:00,2008,11,6,9,42,1 Hr,Valid
5083,Beijing,2008-11-06 10:00,2008,11,6,10,46,1 Hr,Valid
5084,Beijing,2008-11-06 11:00,2008,11,6,11,40,1 Hr,Valid
5085,Beijing,2008-11-06 12:00,2008,11,6,12,35,1 Hr,Valid
5086,Beijing,2008-11-06 13:00,2008,11,6,13,19,1 Hr,Valid

In [73]:
bj08["Date (LST)"][0]

'2008-04-08 15:00'

In [74]:
bj08["Date (LST)"].apply(pd.Timestamp)

0      2008-04-08 15:00:00
1      2008-04-08 16:00:00
2      2008-04-08 17:00:00
3      2008-04-08 18:00:00
4      2008-04-08 19:00:00
               ...
5082   2008-11-06 09:00:00
5083   2008-11-06 10:00:00
5084   2008-11-06 11:00:00
5085   2008-11-06 12:00:00
5086   2008-11-06 13:00:00
Name: Date (LST), Length: 5087, dtype: datetime64[ns]

In [77]:
pd.to_datetime(bj08["Date (LST)"],format="%Y-%m-%d %H:%M")

0      2008-04-08 15:00:00
1      2008-04-08 16:00:00
2      2008-04-08 17:00:00
3      2008-04-08 18:00:00
4      2008-04-08 19:00:00
               ...
5082   2008-11-06 09:00:00
5083   2008-11-06 10:00:00
5084   2008-11-06 11:00:00
5085   2008-11-06 12:00:00
5086   2008-11-06 13:00:00
Name: Date (LST), Length: 5087, dtype: datetime64[ns]

In [78]:
bj08idx = bj08.set_index(pd.to_datetime(bj08["Date (LST)"]))
print(type(bj08idx.index))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [79]:
bj08idx

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2008-04-08 15:00:00,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
2008-04-08 16:00:00,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2008-04-08 17:00:00,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
2008-04-08 18:00:00,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
2008-04-08 19:00:00,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2008-11-06 09:00:00,Beijing,2008-11-06 09:00,2008,11,6,9,42,1 Hr,Valid
2008-11-06 10:00:00,Beijing,2008-11-06 10:00,2008,11,6,10,46,1 Hr,Valid
2008-11-06 11:00:00,Beijing,2008-11-06 11:00,2008,11,6,11,40,1 Hr,Valid
2008-11-06 12:00:00,Beijing,2008-11-06 12:00,2008,11,6,12,35,1 Hr,Valid
2008-11-06 13:00:00,Beijing,2008-11-06 13:00,2008,11,6,13,19,1 Hr,Valid

In [83]:
bj08idx

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2008-04-08 15:00:00,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
2008-04-08 16:00:00,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2008-04-08 17:00:00,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
2008-04-08 18:00:00,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
2008-04-08 19:00:00,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2008-11-06 09:00:00,Beijing,2008-11-06 09:00,2008,11,6,9,42,1 Hr,Valid
2008-11-06 10:00:00,Beijing,2008-11-06 10:00,2008,11,6,10,46,1 Hr,Valid
2008-11-06 11:00:00,Beijing,2008-11-06 11:00,2008,11,6,11,40,1 Hr,Valid
2008-11-06 12:00:00,Beijing,2008-11-06 12:00,2008,11,6,12,35,1 Hr,Valid
2008-11-06 13:00:00,Beijing,2008-11-06 13:00,2008,11,6,13,19,1 Hr,Valid

In [84]:
bj08idx["2008-04"]

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2008-04-08 15:00:00,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
2008-04-08 16:00:00,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2008-04-08 17:00:00,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
2008-04-08 18:00:00,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
2008-04-08 19:00:00,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2008-04-30 19:00:00,Beijing,2008-04-30 19:00,2008,4,30,19,56,1 Hr,Valid
2008-04-30 20:00:00,Beijing,2008-04-30 20:00,2008,4,30,20,103,1 Hr,Valid
2008-04-30 21:00:00,Beijing,2008-04-30 21:00,2008,4,30,21,123,1 Hr,Valid
2008-04-30 22:00:00,Beijing,2008-04-30 22:00,2008,4,30,22,137,1 Hr,Valid
2008-04-30 23:00:00,Beijing,2008-04-30 23:00,2008,4,30,23,140,1 Hr,Valid

In [86]:
bj08idx["2008-11-1":"2008-11-5"]

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2008-11-01 00:00:00,Beijing,2008-11-01 00:00,2008,11,1,0,97,1 Hr,Valid
2008-11-01 01:00:00,Beijing,2008-11-01 01:00,2008,11,1,1,107,1 Hr,Valid
2008-11-01 02:00:00,Beijing,2008-11-01 02:00,2008,11,1,2,118,1 Hr,Valid
2008-11-01 03:00:00,Beijing,2008-11-01 03:00,2008,11,1,3,120,1 Hr,Valid
2008-11-01 04:00:00,Beijing,2008-11-01 04:00,2008,11,1,4,116,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2008-11-05 19:00:00,Beijing,2008-11-05 19:00,2008,11,5,19,174,1 Hr,Valid
2008-11-05 20:00:00,Beijing,2008-11-05 20:00,2008,11,5,20,195,1 Hr,Valid
2008-11-05 21:00:00,Beijing,2008-11-05 21:00,2008,11,5,21,203,1 Hr,Valid
2008-11-05 22:00:00,Beijing,2008-11-05 22:00,2008,11,5,22,214,1 Hr,Valid
2008-11-05 23:00:00,Beijing,2008-11-05 23:00,2008,11,5,23,214,1 Hr,Valid

In [87]:
bj08idx.index.hour

Int64Index([15, 16, 17, 18, 19, 20, 21, 22, 23,  0,
            ...
             4,  5,  6,  7,  8,  9, 10, 11, 12, 13],
           dtype='int64', name='Date (LST)', length=5087)

In [89]:
bj08idx.groupby(bj08idx.index.month).max()

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
4,Beijing,2008-04-30 23:00,2008,4,30,23,610,1 Hr,Valid
5,Beijing,2008-05-31 23:00,2008,5,31,23,405,1 Hr,Valid
6,Beijing,2008-06-30 23:00,2008,6,30,23,270,1 Hr,Valid
7,Beijing,2008-07-31 23:00,2008,7,31,23,272,1 Hr,Valid
8,Beijing,2008-08-31 23:00,2008,8,31,23,195,1 Hr,Valid
9,Beijing,2008-09-30 23:00,2008,9,30,23,226,1 Hr,Valid
10,Beijing,2008-10-31 23:00,2008,10,31,23,415,1 Hr,Valid
11,Beijing,2008-11-06 13:00,2008,11,6,23,214,1 Hr,Valid

In [102]:
bj09idx = bj09.set_index(pd.to_datetime(bj09["Date (LST)"]))
bj09idx

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-01-01 00:00:00,Beijing,2009-01-01 00:00,2009,1,1,0,-999,1 Hr,Missing
2009-01-01 01:00:00,Beijing,2009-01-01 01:00,2009,1,1,1,-999,1 Hr,Missing
2009-01-01 02:00:00,Beijing,2009-01-01 02:00,2009,1,1,2,-999,1 Hr,Missing
2009-01-01 03:00:00,Beijing,2009-01-01 03:00,2009,1,1,3,-999,1 Hr,Missing
2009-01-01 04:00:00,Beijing,2009-01-01 04:00,2009,1,1,4,-999,1 Hr,Missing
...,...,...,...,...,...,...,...,...,...
2009-12-31 19:00:00,Beijing,2009-12-31 19:00,2009,12,31,19,77,1 Hr,Valid
2009-12-31 20:00:00,Beijing,2009-12-31 20:00,2009,12,31,20,120,1 Hr,Valid
2009-12-31 21:00:00,Beijing,2009-12-31 21:00,2009,12,31,21,163,1 Hr,Valid
2009-12-31 22:00:00,Beijing,2009-12-31 22:00,2009,12,31,22,167,1 Hr,Valid
2009-12-31 23:00:00,Beijing,2009-12-31 23:00,2009,12,31,23,-999,1 Hr,Missing

In [92]:
idx = pd.date_range(start = "2009-01-01 00:00:00",end = "2009-12-31 23:00:00",freq = "H")
idx

DatetimeIndex(['2009-01-01 00:00:00', '2009-01-01 01:00:00',
               '2009-01-01 02:00:00', '2009-01-01 03:00:00',
               '2009-01-01 04:00:00', '2009-01-01 05:00:00',
               '2009-01-01 06:00:00', '2009-01-01 07:00:00',
               '2009-01-01 08:00:00', '2009-01-01 09:00:00',
               ...
               '2009-12-31 14:00:00', '2009-12-31 15:00:00',
               '2009-12-31 16:00:00', '2009-12-31 17:00:00',
               '2009-12-31 18:00:00', '2009-12-31 19:00:00',
               '2009-12-31 20:00:00', '2009-12-31 21:00:00',
               '2009-12-31 22:00:00', '2009-12-31 23:00:00'],
              dtype='datetime64[ns]', length=8760, freq='H')

In [93]:
bj09idx[bj09idx.index.duplicated()]

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-03-08 03:00:00,Beijing,2009-03-08 03:00,2009,3,8,3,179,1 Hr,Valid

In [97]:
bj09idx["2009-03-08"]

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-03-08 00:00:00,Beijing,2009-03-08 00:00,2009,3,8,0,204,1 Hr,Valid
2009-03-08 01:00:00,Beijing,2009-03-08 01:00,2009,3,8,1,189,1 Hr,Valid
2009-03-08 03:00:00,Beijing,2009-03-08 03:00,2009,3,8,3,195,1 Hr,Valid
2009-03-08 03:00:00,Beijing,2009-03-08 03:00,2009,3,8,3,179,1 Hr,Valid
2009-03-08 04:00:00,Beijing,2009-03-08 04:00,2009,3,8,4,188,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2009-03-08 19:00:00,Beijing,2009-03-08 19:00,2009,3,8,19,77,1 Hr,Valid
2009-03-08 20:00:00,Beijing,2009-03-08 20:00,2009,3,8,20,71,1 Hr,Valid
2009-03-08 21:00:00,Beijing,2009-03-08 21:00,2009,3,8,21,86,1 Hr,Valid
2009-03-08 22:00:00,Beijing,2009-03-08 22:00,2009,3,8,22,41,1 Hr,Valid
2009-03-08 23:00:00,Beijing,2009-03-08 23:00,2009,3,8,23,14,1 Hr,Valid

In [100]:
bj09idx[~bj09idx.index.duplicated()].reindex(idx,method = "bfill")

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
2009-01-01 00:00:00,Beijing,2009-01-01 00:00,2009,1,1,0,-999,1 Hr,Missing
2009-01-01 01:00:00,Beijing,2009-01-01 01:00,2009,1,1,1,-999,1 Hr,Missing
2009-01-01 02:00:00,Beijing,2009-01-01 02:00,2009,1,1,2,-999,1 Hr,Missing
2009-01-01 03:00:00,Beijing,2009-01-01 03:00,2009,1,1,3,-999,1 Hr,Missing
2009-01-01 04:00:00,Beijing,2009-01-01 04:00,2009,1,1,4,-999,1 Hr,Missing
...,...,...,...,...,...,...,...,...,...
2009-12-31 19:00:00,Beijing,2009-12-31 19:00,2009,12,31,19,77,1 Hr,Valid
2009-12-31 20:00:00,Beijing,2009-12-31 20:00,2009,12,31,20,120,1 Hr,Valid
2009-12-31 21:00:00,Beijing,2009-12-31 21:00,2009,12,31,21,163,1 Hr,Valid
2009-12-31 22:00:00,Beijing,2009-12-31 22:00,2009,12,31,22,167,1 Hr,Valid
2009-12-31 23:00:00,Beijing,2009-12-31 23:00,2009,12,31,23,-999,1 Hr,Missing